@import './base/settings.scss';
@import './base/_base.scss';
@import './components/_add-option.scss';
@import './components/_button.scss';
@import './components/container.scss';
@import './components/_header.scss';
@import './components/_footer.scss';
@import './components/_modal.scss';
@import './components/_options.scss';
@import './components/_widget.scss';