html {
    font-size: 62.5%;
}

body {
    background: $body-color;
    font-family: Helvetica, Arial, sans-serif;
    font-size: $m-size;
    height: 100%;
    position: relative;
}

button {
    cursor: pointer;
}

button:disabled {
    cursor: default;
}

.is-active {
    font-weight: bold;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
   }

   .main-container {
    min-height: 100vh; /* will cover the 100% of viewport */
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 100px; /* height of your footer */
   }